.adventure-container {
    width: 400px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #131313;
    border-radius: 5px;
  }

  .adventure-container select {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    appearance: none;
    background-color: #fff;
    color: #000;
  }
  
  .adventure-container select option {
    background-color: #131313;
    color: #fff;
  }
  
  .adventure-container select:focus {
    outline: none;
    box-shadow: 0 0 0 2px #00ff9b;
  }
  
  .adventure-title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .adventure-container input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
  }
  
  .adventure-button {
    background-color: #00ff9b;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .adventure-button:hover {
    background-color: #04e088;
  }

  .api-key-info {
    color: white;
    cursor: default;
  }

  .error-message {
    cursor: default;
    color: rgb(192, 4, 4);
    margin-top: 15px;
    margin-bottom: 15px;
  }

@media only screen and (max-width: 600px) {
    .adventure-container {
      width: 300px;
    }
}